---
layout: base.njk
title: Kind Words
description: Read testimonials from Tonyana Cruz's clients about their experiences with Tarot readings, Hypnotherapy, and intuitive guidance sessions.
showTestimonials: false
permalink: /kind-words.html
---

<section id="wrapper">
	<header>
		<div class="inner">
			<h2>Client Experiences and Testimonials</h2>
			<p>Hear directly from those who've experienced Tonyana's intuitive guidance firsthand. These reviews highlight personal insights, transformative breakthroughs, and journeys toward empowered intuition.</p>
		</div>
	</header>

	{% include "partials/eye-divider.njk" %}

	<div class="wrapper">
		<div class="inner">
			<h3 class="major">Kristen from Cincinnati, OH - Nurse</h3>
			<p>"I have known Tonyana for a few years after I met her at an event. I've since hosted her in my home on a few occasions for parties. My friends who have come to have their readings definitely enjoy her, as well as the social time we get while each person has their turn for her reading. The last time she came, my husband had a reading done as well. The most amazing part of this reading is that Tonyana lets you record your session. One afternoon about 3 months after our readings, we sat together and listen to both of our recordings. We both couldn't believe in hindsight how accurate she had been and her insight on our situation at the time and saw her guidance turned out to be spot on. This girl definitely has a sixth sense about people. Not only that, she is incredibly genuine and kind and brings a positivity with her that I greatly appreciate and admire. I highly recommend Tonyana for her Tarot readings."</p>

			<h3 class="major">Kellie from Fairfield, OH - Learning and Development Consultant</h3>
			<p>"Tonyana's readings are spot on. She brings such a tranquil energy and is an absolute pleasure to know. I highly recommend her readings to gain clarity for yourself. She is a blessing."</p>

			<h3 class="major">Lequita from Cincinnati, OH - Nurse</h3>
			<p>"I have been working with Tonyana through her Tarot for years now and just recently benefited from hypnosis sessions with her too. Honestly, her presence has really changed my thinking and I feel so much better these days! Negative worry type thoughts don't fester around in my mindset anymore like they used to. I'm way more positive and am doing new approaches that I would have never attempted before. She has really made a huge impact on my life. I remember our interactions exactly when I need them and know what to do. She has helped me remember and reclaim MY POWER!"</p>
		</div>
	</div>

</section>
