<section class="wrapper style1">
	<div class="inner">
		<div class="testimonial-rotator">
			<blockquote>
				<p>"This girl definitely has a sixth sense about people. Not only that, she is incredibly genuine and kind and brings a positivity with her that I greatly appreciate and admire."</p>
				<cite>— Kristen, Cincinnati OH</cite>
			</blockquote>
			<blockquote>
				<p>"She brings such a tranquil energy and is an absolute pleasure to know. I highly recommend her readings to gain clarity for yourself. She is a blessing."</p>
				<cite>— Kellie, Fairfield OH</cite>
			</blockquote>
			<blockquote>
				<p>"She has really made a huge impact on my life. I remember our interactions exactly when I need them and know what to do. She has helped me remember and reclaim MY POWER!"</p>
				<cite>— Lequita, Cincinnati OH</cite>
			</blockquote>
		</div>
	</div>
</section>
